<header class="header">
  <mat-toolbar>
    <a routerLink="/movies"
      ><img src="assets/images/flixit-logo.png" width="100"
    /></a>
    <span class="spacer"></span>
    <div *ngIf="!(isLoggedIn$ | async)">
      <button
        class="first-button"
        mat-flat-button
        color="accent"
        routerLink="/login"
      >
        Login
      </button>
      <button mat-flat-button color="accent" routerLink="/signup">
        Sign Up
      </button>
    </div>
    <button
      *ngIf="isLoggedIn$ | async"
      mat-flat-button
      color="accent"
      [matMenuTriggerFor]="menu"
    >
      {{ username$ | async }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/favourites">Favourites</button>
      <button mat-menu-item (click)="logout()">Logout</button></mat-menu
    >
  </mat-toolbar>
</header>
